body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #0e1323;
  font-family: 'Rubik', sans-serif;
  font-weight: 200;
  color: white;
  height: 100vh;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.img-avatar {
  width: 78px;
  height: 78px;
  border: 2px solid white;
  border-radius: 50%;
}

h1 {
  font-size: 40px;
  margin: 0;
}

.avatar {
  position: relative;
  max-width: 255px;
  max-height: 520px;
}

.avatar-card {
  position: absolute;
  background-color: #5747ea;
  padding: 32px 85px 92px 32px;
  border-radius: 15px;
}

.avatar-report {
  font-size: 15px;
  color: #bbc0ff;
  margin: 0;
  padding-top: 40px;
}

.date-card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: #1c204b;
  padding: 32px;
  border-radius: 15px;
  align-items: start;
  height: 456px;
  width: 191px;
}

.date-card-button {
  color: #bbc0ff;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  padding: 0 0 21px 0;
}

.date-card-button:last-child {
  padding-bottom: 0;
}

.date-card-button:hover {
  color: white;
}

.date-card-button:focus {
  color: white;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.img-card {
  display: flex;
  justify-content: end;
  width: 255px;
  height: 160px;
  background-color: #ff8b64;
  border-radius: 15px;
}

.img-bg {
  width: 78px;
  height: 78px;
  margin-right: 18px;
}

.time-card {
  position: absolute;
  top: 45px;
  background-color: #1c204b;
  border-radius: 15px;
  width: 192px;
  height: 130px;
  padding: 32px;
}

.time-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
}

.time-card-section {
  margin: 0;
}

.time-card-hours {
  margin: 0;
  font-size: 50px;
  padding-bottom: 8px;
}

.time-card-week {
  margin: 0;
  color: #bbc0ff;
}
