body {
  font-family: 'Manrope', sans-serif;
  background-color: #ecf2f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: #48556a;
  font-size: 20px;
  margin: 0;
}

p {
  font-size: 13px;
  color: #6e8098;
}

.card {
  display: flex;
  max-width: 730px;
  max-height: 280px;
  background-color: white;
  border-radius: 10px;
  filter: drop-shadow(0px 40px 40px #c9d5e1);
}

.text-area {
  padding: 40px;
}

.drawer {
  width: 285px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.avatar-area {
  display: flex;
  align-items: center;
  gap: 16px;
}

.avatar {
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
}

.name {
  margin: 0;
  font-weight: 600;
  color: #48556a;
}

.date {
  margin: 0;
}

.share-button {
  border: none;
  border-radius: 50%;
  padding: 9px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.share-button .pointer {
  transition: filter 0.3s ease;
}

.share-button.active {
  background-color: #6e8098;
}

.pointer.active {
  filter: brightness(0) invert(1);
}

.modal {
  position: absolute;
  display: flex;
  align-items: center;
  background-color: #48556a;
  border-radius: 10px;
  padding: 18px 39px 29px 39px;
  left: 74.5%;
  top: 43%;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.modal.show-modal {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.modal::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #48556a;
}

.share {
  text-transform: uppercase;
  color: #9daec2;
  letter-spacing: 5px;
  padding-right: 24px;
  margin: 0;
}

.icons {
  display: flex;
  gap: 16px;
}

.icon {
  max-width: 20px;
  max-height: 20px;
}

@media only screen and (max-width: 768px) {
  .card {
    max-width: 608px;
    max-height: 346px;
  }
}

@media only screen and (max-width: 590px) {
  .card {
    display: block;
    max-width: 327px;
    min-height: 538px;
  }

  .drawer {
    width: 100%;
    max-height: 200px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
  }

  .text-area {
    padding: 32px 30px 18px 32px;
  }

  .footer {
    padding-top: 35px;
  }
}
